.vertical-center {
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}
.vertical-center .container-fluid {
    flex-grow:1
}
h1 {
    margin: 24px 0;
}
.messages p {
    margin: 6px 0;
}
ul.messages.list-group {
    max-height: 50vh;
    overflow-y: scroll;
}